In [9]:
import pandas as pd
import numpy as np

first = pd.read_csv('../reports/RNA-seq/0-initial_checks/initial_checks_seqkit-stats.txt', sep='\t')
first

,file,format,type,num_seqs,sum_len,min_len,avg_len,max_len,Q1,Q2,Q3,sum_gap,N50,Q20(%),Q30(%),GC(%)
0,Cy1.fastq,FASTQ,DNA,18203732,1826590929,36,100.3,101,101.0,101.0,101.0,0,101,99.84,98.46,42.07
1,Cf2.fastq,FASTQ,DNA,46731654,4719897054,101,101.0,101,101.0,101.0,101.0,0,101,95.81,91.02,46.15
2,Cf1.fastq,FASTQ,DNA,46731654,4719897054,101,101.0,101,101.0,101.0,101.0,0,101,96.75,92.08,46.30
3,Cy2.fastq,FASTQ,DNA,18203732,1819000825,36,99.9,101,101.0,101.0,101.0,0,101,99.78,98.10,42.11